{% extends "app/base.html" %}
{% block content %}
    <h1>Characters</h1>
    {% for occurrence in occurrences %}
    {{ occurrence.source.name }} met {{ occurrence.target.name }} {{ occurrence.weight }} time(s) in {{ occurrence.book.name }}<br>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if occurrences.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ occurrences.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ occurrences.number }} of {{ occurrences.paginator.num_pages }}.
        </span>

        {% if occurrences.has_next %}
            <a href="?page={{ occurrences.next_page_number }}">next</a>
            <a href="?page={{ occurrences.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}